.chartWrap {
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid var(--border);
  border-radius: var(--radius);

  background: var(--bg-elev);
  box-shadow: var(--shadow);
}

.chartWrap :global(svg.recharts-surface:focus),
.chartWrap :global(path:focus) {
  outline: none !important;
}
