.chartWrap {
  background: var(--bg-elev);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 0px;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.chartWrap :global(svg.recharts-surface:focus),
.chartWrap :global(path:focus) {
  outline: none !important;
}
