.list {
  scroll-behavior: smooth;
  scrollbar-color: var(--border) transparent;
  scrollbar-width: thin;

  overflow-x: auto;
  display: flex;
  gap: 8px;

  margin: 0;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: var(--radius);

  list-style: none;

  background: rgb(255 255 255 / 2%);
}

.list::-webkit-scrollbar {
  height: 8px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: var(--border);
}

.state {
  padding: 8px 10px;
  color: var(--muted);
}
